.divStyle {
    flex: 1 0 80px;
    margin: 1px;
    padding: 1px;
    /* background-color: white;
    border: 1px solid black;
    border-radius: 20px; */
    min-height: 20%;
    overflow: hidden;

}

.subDivStyle {
    display: flex;
    /* justify-content: center; */
    margin: 1%;
    margin-top: -3%;
    margin-left: 24%;
    align-items: flex-start;
}

.imageStyle {
    width: 90%;
    height: auto;
    border: 0;
    border-radius: 20px;
    object-fit: cover;
    padding: 10px;



}

/* .logoStyle {
    width: 25%;
    height: 50px;
    border: 0;
    border-radius: 20px;
    object-fit: cover;
    margin-left: 40%;
    margin-top: -7%
} */

.mainDiv {
    width: 93%;
    padding: 25px;
    margin-left: 2%;
    margin-top: 10%;
    height: 10px;
    justify-content: center;
}

.imgBack {
    position: absolute;
    z-index: -1;
    background-size: cover;
    background-position: center;
    margin-top: 0.8%;
    opacity: 50%
}

.h3 {

    text-align: left;
    margin-top: 1%;
    margin-left: 5%;
}

.p {

    text-align: left;
    color: black;
    margin-top: -5%;
    margin-left: 5%;
}

.hyperlinkStyle {
    text-decoration: none;
    color: black
}