.GuidedivStyle {
    flex: 1 0 80px;
    margin: 10px;
    padding: 1px;
    background-color: white;
    border: 1px solid black;
    border-radius: 20px;
    width: 40%;
    min-height: 350px;

}

.GuidesubDivStyle {
    display: flex;
    justify-content: center;
    margin-top: 3%;
    align-items: flex-start
}

.Guidebutton {
    margin-left: 36%;
    text-align: center;
    width: 30%;
    color: white;
    background-color: blueviolet;
    padding: 10px;
    border: 0;
    border-radius: 10px
}

.GuideimageStyle {
    width: 95%;
    height: 160px;
    border: 0;
    border-radius: 20px;
    object-fit: cover;
    padding: 10px;

}

.GuidelogoStyle {
    width: 25%;
    height: 50px;
    border: 0;
    border-radius: 20px;
    object-fit: cover;
    margin-left: 40%;
    margin-top: -7%
}

.GuidemainDiv {
    width: 93%;
    padding: 25px;
    margin-left: 2%;
    margin-top: -20%;
    height: 10px;
    justify-content: center;
}

.GuideimgBack {
    position: absolute;
    z-index: -1;
    background-size: cover;
    background-position: center;
    margin-top: 0%;
    opacity: 50%
}

.Guideh1 {

    text-align: center;
    margin-top: 20%
}

.Guideh3 {

    text-align: center;
    margin-top: 1%
}

.Guidep {

    text-align: center;
    color: black;
}

.hyperlinkStyle {
    text-decoration: none;
    color: white
}