.SausesimageStyle {
    width: 30%;
    height: 30%;
    border: 0;
    border-radius: 20px;
    object-fit: cover;
    padding: 10px;
    margin-left: 10%;
    margin-top: 1%;

}

.SausesLeftimageStyle {
    width: 30%;
    height: 30%;
    border: 0;
    border-radius: 20px;
    object-fit: cover;
    padding: 10px;
    margin-left: 4%;
    margin-top: 1%;

}

.SausesRightimageStyle {
    width: 30%;
    height: 30%;
    border: 0;
    border-radius: 20px;
    object-fit: cover;
    padding: 10px;
    margin-left: 64%;
    margin-top: -1%;
}

.SausesimgBack {
    position: absolute;
    z-index: -1;
    background-size: cover;
    background-position: center;
    margin-top: 0%;
    opacity: 20%
}

.SausesDiv1 {
    width: 80%;
    height: 80%;
}

.Sausesh1 {

    text-align: center;
    margin-top: 3%
}

.Sausesh2 {

    text-align: center;
    margin-top: 1%
}

.Sausesh3 {

    /* text-align: center; */
    margin-top: 6%;
    margin-left: 20%;
}

.Sausesp {

    /* text-align: center; */
    color: black;
    width: 42%;
    margin-left: 45%;
    margin-top: -15%;
}